<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>記事一覧</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.css}"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</head>
<body>
<div layout:fragment="content" class="ui very padded container basic content">
    <h2 class="ui dividing header">人気記事</h2>
    <ul>
        <li class="article-list" th:each="article : ${search.getArticles().getList()}">
            <div class="ui card">
                <div class="content">
                    <i class="right floated like icon"></i>
                    <i class="right floated star icon"></i>
                    <div class="header" th:text="${article.title}">電子工作とは</div>
                    <div class="description">
                        <p th:text="${article.contents}">電子工作しましたよ</p>
                    </div>
                </div>
                <div class="extra content">
                    <span class="left floated like" th:text="${article.author}">Author</span>
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>