<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>記事投稿</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.css}"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</head>
<body>
<div layout:fragment="content" class="ui very padded container basic content">
    <h1>記事投稿</h1>
    <form class="ui form" th:action="@{/post}" th:object="${post}" method="post">
        <div class="field">
            <label>名前</label>
            <input type="text" id="author" th:field="*{article.author}" placeholder="名前">
        </div>
        <div class="field">
            <label>タイトル</label>
            <input type="text" id="title" th:field="*{article.title}" placeholder="タイトル">
        </div>
        <div class="field">
            <label>記事</label>
            <textarea rows="20" id="contents" th:field="*{article.contents}"></textarea>
        </div>
        <button id="post-button" class="ui primary basic button" type="submit">投稿</button>
    </form>
</div>
</body>
</html>