<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dsns.PostMapper">
    <insert id="create" parameterType="Post">
    <selectKey keyProperty="identifier" order="BEFORE" resultType="string">
        SELECT RANDOM_UUID()
    </selectKey>
        INSERT INTO post (author, title, contents) VALUES (#{post.author}, #{post.title}, #{post.contents})
    </insert>
</mapper>
